USE [master]
GO
/****** Object:  Database [Biblioteka]    Script Date: 28.2.2020. 18:42:19 ******/
CREATE DATABASE [Biblioteka]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Biblioteka', FILENAME = N'e:\db\KursC#\Biblioteka.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Biblioteka_log', FILENAME = N'e:\db\KursC#\Biblioteka_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Biblioteka].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Biblioteka]
GO
/****** Object:  Table [dbo].[Knjiga]    Script Date: 28.2.2020. 18:42:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Knjiga](
	[KnjigaId] [int] IDENTITY(1,1) NOT NULL,
	[InventarniBroj] [nvarchar](30) NOT NULL,
	[Pisac] [nvarchar](70) NOT NULL,
	[Naslov] [nvarchar](500) NOT NULL,
	[GodinaIzdavanja] [int] NULL,
	[MestoIzdavanja] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[KnjigaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ucenik]    Script Date: 28.2.2020. 18:42:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ucenik](
	[UcenikId] [int] IDENTITY(1,1) NOT NULL,
	[Ime] [nvarchar](15) NOT NULL,
	[Prezime] [nvarchar](15) NOT NULL,
	[GodinaRodjenja] [int] NULL,
	[BrojUDnevniku] [int] NULL,
	[Razred] [nvarchar](6) NULL,
	[Odeljenje] [nvarchar](3) NULL,
	[Adresa] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NULL,
	[Telefon] [nvarchar](25) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UcenikId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Knjiga] ON 
GO
INSERT [dbo].[Knjiga] ([KnjigaId], [InventarniBroj], [Pisac], [Naslov], [GodinaIzdavanja], [MestoIzdavanja]) VALUES (1, N'852', N'Žil Vern', N'Put oko sveta za 80 dana', 1900, N'London')
GO
INSERT [dbo].[Knjiga] ([KnjigaId], [InventarniBroj], [Pisac], [Naslov], [GodinaIzdavanja], [MestoIzdavanja]) VALUES (2, N'853', N'Stevan Sremac', N'Pop Ćira i pop Spira', 1901, N'Novi Sad')
GO
INSERT [dbo].[Knjiga] ([KnjigaId], [InventarniBroj], [Pisac], [Naslov], [GodinaIzdavanja], [MestoIzdavanja]) VALUES (3, N'854', N'Branko Ćopić', N'Orlovi rano lete', 1980, N'Beograd')
GO
SET IDENTITY_INSERT [dbo].[Knjiga] OFF
GO
SET IDENTITY_INSERT [dbo].[Ucenik] ON 
GO
INSERT [dbo].[Ucenik] ([UcenikId], [Ime], [Prezime], [GodinaRodjenja], [BrojUDnevniku], [Razred], [Odeljenje], [Adresa], [Email], [Telefon]) VALUES (1, N'Đorđe', N'Cvetković', NULL, NULL, NULL, NULL, N'Braće Bošnjak 2a', N'dewebeloper@gmail.com', N'+38163591280')
GO
INSERT [dbo].[Ucenik] ([UcenikId], [Ime], [Prezime], [GodinaRodjenja], [BrojUDnevniku], [Razred], [Odeljenje], [Adresa], [Email], [Telefon]) VALUES (2, N'Mladen', N'Cvetković', 2006, 24, N'VII-2', NULL, N'Braće Bošnjak 2a', N'mlade.nesto@gmail.com', N'+38161')
GO
SET IDENTITY_INSERT [dbo].[Ucenik] OFF
GO
USE [master]
GO
