
@{
    ViewBag.Title = "ja";
}

<h2 style="color:blue">  Danilo Jeličić</h2>i

<img src="~/Slike/Fendt 960 Vario.jpg" />



<table>
    <tr>
        <td>Ime</td>
        <td>Danilo</td>
    </tr>
    <tr>
        <td>Prezime</td>
        <td>Jeličić</td>
    </tr>
    <tr>
        <td> Godina rođenja</td>
        <td>2007</td>
    </tr>
    <tr>
        <td>Omiljeno od muzike i pesama</td>
        <td>Sta i, tigar kolo, itd.</td>
    </tr> 
    <tr>
        <td>Obozavam poljoprivredu i traktore</td>
    </tr>
</table>





