.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */

.nav__links {
    float: right;
    margin-top: 15px;
}

.navbar-toggle {
    margin-top: 25px;
}

.jumbotron {
    margin-top: 100px;
    background-color: rgba(0, 0, 0, 0.0);
}

.container {
    background-color: rgba(0, 0, 0, 0.0);
}

.col-md-12 {
    width: 100%;
}


.srcbx {
    width: 100%;
    border-radius: 25px;
    border: 2px solid gray;
    padding-left: 15px;
}

.txtbx {
    width: 100%;
    border-radius: 25px !important;
    border: 1px solid gray;
    padding-left: 15px;
    margin-top: 15px;
}

.btncenter {
    margin-top: 20px;
    margin-right: 10px;
}

.form-control {
    font-size: 20px;
}

.dropdwn {
    width: 200%;
}

.lbltxt {
    margin-left: 20px;
}