@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 style="color:red">Moja Web Aplikacija</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div>
    <table border="1">
        <tr>
            <td>red 1 - polje 1</td>
            <td>red 1 - polje 2</td>    
        </tr>
        <tr>
            <td> red 2 - polje 1</td>
            <td> red 2 - polje 2</td>
        </tr>
        <tr>
            <td> red 3 - polje 1</td>
            <td> red 3 - polje 2</td>
        </tr>
    </table>
</div>


<p>u paragraf tagu je moguce pisati tekst bilo koje duzine</p>
<p>a moze da bude i nekoliko paragrafa u nizu</p>
<p>kao sto mozemo da vidimo na ovom primeru</p>

<div class="row">
    <div class="col-md-4">
        <h1 style="color:green">Getting started</h1>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h1 style="color:blue">Get more libraries</h1>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h1 style="color:yellow">Web Hosting</h1>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>